komga:
  database:
    file: "file:database?mode=memory"
  tasks-db:
    file: "file:tasks?mode=memory"
  cors.allowed-origins:
    - http://localhost:8081
    - http://localhost:3000
    - https://komga.org
  oauth2-account-creation: false
  config-dir: ${rootDir}/config-dir

logging:
  charset:
    console: UTF-8
    file: UTF-8
  level:
    org.apache.activemq.audit.message: WARN
    org.gotson.komga: DEBUG
#    org.springframework.web.filter.CommonsRequestLoggingFilter: DEBUG
#    reactor.netty.http.client: DEBUG
#    org.jooq: DEBUG
#    org.jooq.tools.LoggerListener: DEBUG
#    web: DEBUG
#    com.zaxxer.hikari: DEBUG
#    org.springframework.boot.autoconfigure: DEBUG
#    org.springframework.security.web.FilterChainProxy: DEBUG
#    org.springframework.security.web.authentication.rememberme: DEBUG
#    org.springframework.boot.context.config.ConfigDataEnvironment: TRACE
#    org.springframework.boot.context.config.ConfigDataEnvironmentPostProcessor: TRACE
  logback:
    rollingpolicy:
      max-history: 1

springdoc:
  cache:
    disabled: true

server:
  port: 8080
  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true
  tomcat:
    uri-encoding: UTF-8
  banner:
    charset: UTF-8

spring:
  banner:
    charset: UTF-8
  file:
    charset: UTF-8
  jackson:
    serialization:
      write-dates-as-timestamps: false
      indent-output: true
  sqlite:
    params:
      socket_timeout: 30
  codec:
    max-in-memory-size: 100MB
